<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Real Time Chart</title>
    <script src="{{request.static_url('realtimechart:static/js/jquery.min.js')}}"></script>
    <script src="{{request.static_url('realtimechart:static/js/socket.io.js')}}"></script>
    <script src="{{request.static_url('realtimechart:static/js/highcharts.js')}}"></script>
    <script src="{{request.static_url('realtimechart:static/js/app.js')}}"></script>

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
